<!-- <mat-toolbar color="#9ca1a2">
    <span>
        <a routerLink="/">
            <span>Home</span>
        </a>
    </span>
    <span>
        <a routerLinkActive="active-link" routerLink="/showDetails">
            <span> Details </span>
        </a>
        <a routerLinkActive="active-link" routerLink="/login">
            <span> Login </span>
        </a>
        <a routerLinkActive="active-link" routerLink="/register">
            <span> Register </span>
        </a>
    </span>
</mat-toolbar> -->

<mat-toolbar color="#30cc7e">
    <span>
      <a routerLink="/">
        <span>Simple Login</span>
      </a>
    </span>
    <span>
      <a
        *ngIf="isAuthenticated"
        routerLinkActive="active-link"
        routerLink="/profile"
      >
        <span>Profile</span>
      </a>
      <a
        *ngIf="!isAuthenticated"
        routerLinkActive="active-link"
        routerLink="/login"
      >
        <span>Login</span>
      </a>
      <a
        *ngIf="isAuthenticated"
        (click)="logout()"
        routerLinkActive="active-link"
        routerLink="/login"
      >
        <span>Logout</span>
      </a>
      <a
        *ngIf="!isAuthenticated"
        routerLinkActive="active-link"
        routerLink="/register"
      >
        <span>Signup</span>
      </a>
    </span>
  </mat-toolbar>
  